<!DOCTYPE html> 
<html> 
	<head> 
		<title>Flask and SQLite </title> 
	</head> 
	<body> 
		<h1>Booking datas using Flask and SQLite</h1> 
		<button class="btn" type="button" onclick="window.location.href='{{ url_for('bookings') }}';">Check bookings datas</button> 
		<button class="btn" type="button" onclick="window.location.href='{{ url_for('randombookings') }}';">Check randomly generated bookings datas</button>
		<button class="btn" type="button" onclick="window.location.href='{{ url_for('randominfos') }}';">Check randomly generated user datas</button>
	</body> 
</html> 
